# IMPORT

In [ ]:

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tkinter as tk

from tkinter import ttk
from tkinter import *

# Load Datasets

In [ ]:
data_path = 'datasets/Datafull train.csv'

df = pd.read_csv(data_path, delimiter=";")

df.head()

In [ ]:
# cek dimensi data sebelum masuk data preprocessing
df.shape

In [ ]:
df.nunique() # mengecek data unique pada setiap kolom

In [ ]:
df.info()

# Data PreProcessing

In [ ]:
df.isna().sum() # mengecek data yang kosong
df.duplicated().sum # mengecek data yang duplikat

df = df.drop_duplicates() #menghapus data duplikat
df = df.fillna(df.mode().iloc[0])

In [42]:
df.shape

(32849, 43)

In [43]:
df.nunique

<bound method DataFrame.nunique of             0x       0y       1x       1y       2x       2y       3x       3y  \
0      449.894  638.530  329.537  588.029  262.366  475.709  253.967  343.421
1      459.426  638.641  347.614  599.550  273.522  486.969  262.374  354.810
2      444.194  659.268  326.598  616.910  253.226  497.914  243.082  361.876
3      443.780  650.429  324.970  607.825  252.818  487.201  244.345  356.561
4      452.860  638.769  340.436  595.407  272.323  487.497  254.365  357.569
...        ...      ...      ...      ...      ...      ...      ...      ...
32844  438.216  475.728  384.271  438.175  365.128  370.238  359.100  308.232
32845  451.700  471.125  388.505  420.364  370.429  366.011  359.194  301.358
32846  461.909  469.288  400.524  424.948  372.224  372.311  353.600  310.913
32847  451.633  470.803  393.561  427.040  365.993  371.472  349.987  306.755
32848  446.508  479.837  383.399  422.028  364.069  359.685  355.280  293.822

            4x       4y  ...      16y      17x      17y      18x      18y  \
0      247.663  236.477  ...  475.346  591.398  426.475  592.339  341.419
1      248.102  248.011  ...  471.021  587.605  425.540  598.047  337.165
2      239.491  259.676  ...  476.613  560.803  418.030  567.584  346.090
3      243.655  256.638  ...  473.187  573.173  418.568  580.205  339.026
4      231.482  241.993  ...  463.566  577.341  425.073  581.486  337.553
...        ...      ...  ...      ...      ...      ...      ...      ...
32844  341.079  263.943  ...  393.282  526.248  369.550  542.888  314.872
32845  338.958  255.391  ...  394.962  523.331  378.997  544.635  321.277
32846  326.736  261.919  ...  394.474  534.607  373.414  555.518  319.473
32847  324.605  257.534  ...  390.126  524.399  378.125  548.321  321.545
32848  331.258  249.500  ...  394.919  523.860  381.711  546.956  325.058

           19x      19y      20x      20y  char
0      548.671  413.658  541.039  454.239   NaN
1      559.660  410.858  548.164  455.238     A
2      533.656  416.844  524.283  450.811     A
3      541.187  411.295  528.062  445.777     A
4      551.375  410.228  546.574  449.936     A
...        ...      ...      ...      ...   ...
32844  553.693  291.555  565.394  270.450     Y
32845  556.352  292.890  574.840  273.024     Y
32846  570.948  285.517  586.932  256.553     Y
32847  566.286  289.032  585.819  261.687     Y
32848  560.955  297.564  581.282  276.208     Y

[32849 rows x 43 columns]>